.notificationLink {
  text-decoration: none;
}

.notificationItem {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-right: 5px;
}

.content {
  margin-bottom: 5px;
  font-size: 13px;
}

.time {
  font-size: 12px;
  color: #b3b3b3;
  margin-top: 5px;
  border-radius: 10px;
}

.postImage {
  width: 60px;
  height: 40px;
}
