.button {
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background-color: #dab9b9;
  border: none;
  outline: none;
}

div.button {
  display: inline-block;
}

.button.round {
  font-weight: 400;
  color: #fff;
  background-color: #48735d;
  border-radius: 8px;
}
