@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
  word-break: keep-all;
}

html {
  overflow-y: scroll;
  background-color: #fff;
}

body {
  margin: 0;
}

a:not(.home),
a:not(.home):hover,
a:not(.home):active,
a:not(.home):visited {
  color: #494949;
  text-decoration: none;
}

:root {
  --box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 5%);
}

:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav,
.footer {
  flex: none;
  z-index: 1000;
}

.body {
  position: relative;
  flex-grow: 1;
}
