.container {
  margin-top: 50px;
}

.container h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 50px;
}

.sellerGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sellerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 150px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.1px solid #888;
}

.sellerName {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}
