.editProfileForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.editProfileForm h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 40px;
}

.formGroup {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #555;
}

.nicknameInputGroup {
  display: flex;
  align-items: center;
}

.nicknameInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.checkDuplicateButton {
  margin-left: 20px;
  padding: 8px 15px;
  background-color: #48735d;
  opacity: 70%;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.checkDuplicateButton:hover {
  background-color: #7d9b8b;
}

.emailInputContainer,
.contactInputContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.formGroup input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: -30px;
}

.formGroup input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.3);
}

.checkboxGroup {
  display: flex;
  gap: 40px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.submitButton {
  padding: 8px 15px;
  background-color: #48735d;
  opacity: 90%;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}

.submitButton:hover {
  background-color: #7d9b8b;
}

.errorMessage {
  color: #eb5757;
  font-size: 15px;
}
