.page {
  display: flex;
  align-items: center;
}

.text {
  flex-grow: 1;
  padding: 20px;
  text-align: left;
}

.count {
  background-color: #b4c5bc;
  opacity: 60%;
  padding: 7px;
  width: 267px;
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 15px;
  height: 305x;
  border-radius: 9999px;
}

.count span {
  font-weight: 700;
  font-size: 18px;
  margin: 0 2px 0 5px;
}

.name {
  margin: 10px auto 30px;
}

.price {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 300;
  display: inline-block;
  position: relative;
}

.price .discount {
  font-weight: 700;
  font-size: 22px;
  margin: 0 2px 0 5px;
}

.price .origin {
  position: absolute;
  top: 0;
  right: -4.2em;
  /* font-size: 0.8em; */
  color: #888;
  text-decoration: line-through;
}

.button {
  padding: 12px 70px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  background-color: #48735d;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 20px 0 0 0;
  opacity: 80%;
}

.image {
  width: 300px;
  height: 300px;
  margin-left: 20px;
}
