.categories {
  display: relative;
  padding: 30px 20px 10px 30px;
  list-style: none;
  font-size: 13px;
  background-color: #fff;
  opacity: 50%;
  width: 150px;
  text-align: left;
}

.category {
  padding: 0;
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #000;
}

.categoryMain {
  padding: 0;
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #fff;
}

.categoryList {
  margin-top: 40px;
}

/* 폰트 색상 #fff 적용해야 함 */
.home {
  padding: 10px 10px 10px 30px;
  color: #fff !important;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(72, 115, 93, 0.5);
  width: 150px;
}

button {
  background-color: rgba(72, 115, 93, 0);
  border-style: hidden;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  padding-left: 0;
}

/* 폰트 색상 #fff 적용해야 함 */
.home {
  padding: 10px 10px 10px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(72, 115, 93, 0.5);
  width: 150px;
}
