.category {
  padding: 0;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 18px;
  opacity: 50%;
}

.categoryList {
  color: #fff;
  opacity: 50%;
}

.menu {
  display: relative;
  padding: 20px 20px 10px 30px;
  list-style: none;
  font-size: 13px;
  background-color: #fff;
  color: #000;
  width: 150px;
  text-align: left;
}

.categoryList a:hover,
.categoryList a:active {
  font-weight: 700;
}

/* 폰트 색상 #fff 적용해야 함 */
.home {
  padding: 10px 10px 10px 30px;
  color: #fff !important;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(72, 115, 93, 0.5);
  width: 150px;
}

button {
  background-color: rgba(72, 115, 93, 0);
  border-style: hidden;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  padding-left: 0;
}
