.container {
  margin: 0px;
  text-align: left;
  transition: background-color 0.3s ease;
}

.container:hover {
  background-color: rgba(72, 115, 93, 0.4);
  border-radius: 10px;
  margin: 5px;
  width: 80%;
}

.containerMain:hover {
  border-radius: 0px;
  margin: 5px;
  width: 80%;
}
