.category {
  padding: 0;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 18px;
  opacity: 50%;
}

.categoryList {
  opacity: 60%;
}

.menu {
  padding: 20px 0px 10px 30px;
  list-style: none;
  font-size: 13px;
  background-color: #fff;
  color: #000;
  width: 170px;
  text-align: left;
}

.categoryList a:hover,
.categoryList a:active {
  font-weight: 700;
}

.home {
  margin-top: 0px;
  color: #fff;
  padding: 12px 10px 12px 30px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(177, 172, 245);
  width: 170px;
  border-radius: 0px 0px 8px 8px;
  opacity: 100%;
}

.title:hover {
  background-color: rgb(177, 172, 245);
  border-radius: 10px;
  width: 90%;
  transition: background-color 0.3s ease;
}

.homeIntro {
  margin-top: 0px;
  color: #fff;
  padding: 12px 10px 12px 30px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(179, 197, 187);
  width: 170px;
  border-radius: 0px 0px 8px 8px;
  opacity: 100%;
}

.titleIntro:hover {
  background-color: rgb(179, 197, 187);
  border-radius: 10px;
  width: 90%;
}

.line {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 12px;
  opacity: 70%;
}
