.Item {
  background-color: #fff;
  max-height: 500px;
  position: relative;
  margin-bottom: 5px;
}

.groupItem {
  background-color: #fff;
  height: 300px;
  position: relative;
  margin-bottom: 5px;
}

.img {
  display: flex;
  align-items: center;
  padding: 0;
  border-top: 0px;
  height: 180px;
  background-color: #fff;
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 0px;
  background-color: #fff;
}

.name {
  margin: 5px 0 5px;
  padding: 0 0 40px 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  margin: 5px 0 3px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 300;
}

.Item .price {
  margin: 0 0 20px;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  bottom: -25px;
  padding-bottom: 20px;
}

.Item .won {
  font-weight: 400;
  padding-left: 2px;
}

.groupItem .price {
  margin: 0 0 20px;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  bottom: -5px;
  padding-bottom: 20px;
}

.groupItem .won {
  font-weight: 400;
  padding-left: 2px;
}

.price .origin {
  position: absolute;
  top: -2px;
  right: -4.2em;
  font-size: 0.9em;
  color: #888;
  text-decoration: line-through;
  font-weight: 300;
}

.targetQuantity {
  text-align: center;
  align-items: center;
  background-color: #48735d;
  opacity: 70%;
  color: #fff;
  margin: auto -30px;
  padding: 1px;
}

.targetQuantity h2 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 20px;
}

.targetQuantity span {
  font-weight: 500;
  font-size: 16px;
  margin: auto 3px;
}
