.Item {
  background-color: #fff;
  max-height: 370px;
}

.img {
  display: flex;
  align-items: center;
  padding: 0;
  border-top: 0px;
  height: 200px;
  background-color: #fff;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10px;
  padding: 50px 20px 0px;
  background-color: #fff;
}

.name {
  margin: 0 0 5px;
  overflow: hidden;
  font-size: 17px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  margin: 7px 0 3px;
  padding: 0 0 10px 0;
  overflow: hidden;
  font-size: 17px;
  font-weight: 300;
}

.price {
  margin: 0 0 20px;
  overflow: hidden;
  font-size: 17px;
  font-weight: 900;
}
