.container {
  max-width: 800px;
  margin: 50px auto 150px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 300;
}

.buttonContainer {
  text-align: center;
  margin: 30px;
}

.toggleButton {
  padding: 10px 20px;
  background-color: #48735d;
  opacity: 70%;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.toggleButton:hover {
  background-color: #7d9b8b;
}

.memberContainer,
.sellerContainer {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.memberContainer .memberTitle {
  font-size: 20px;
  margin-left: 2px;
  font-weight: 300;
  margin-bottom: 18px;
}

.optionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: space-between;
}

.optionButton {
  font-size: 17px;
  padding: 10px;
  background-color: #e0e0e0;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  color: #333;
  opacity: 80%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.optionButton:hover {
  background-color: #fff;
  color: #333;
}

.optionButton.active {
  background-color: #fff;
  color: #333;
}

.sectionContent {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  /* border: 1px solid #ddd;
  border-radius: 4px; */
  margin-bottom: 30px;
}

.convert {
  color: #888;
}

.checkPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.checkPassword h2 {
  font-weight: 300;
  margin-bottom: 30px;
}

.checkPassword input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkPassword button {
  padding: 6px 15px;
  font-size: 1em;
  background-color: #48735d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.errorMessage {
  color: #eb5757;
  font-size: 15px;
}
