.container {
  height: 4000px;
  margin-bottom: 100px;
}

.detailNav {
  position: sticky;
  top: 10px;
}

.content {
  width: 100%;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loadingMessage {
  font-size: 20px;
  color: #888;
}
