.container {
  max-width: 700px;
  margin: 50px auto 150px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 80px;
  font-size: 35px;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 30px;
  display: flex;
}

.formGroup label {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 0px;
  color: #555;
  flex: 0 0 150px;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.formGroup textarea {
  resize: vertical;
  min-height: 100px;
}

.formGroup input[type="checkbox"] {
  margin-right: 480px;
  transform: scale(1.5);
}

.button[type="submit"] {
  padding: 10px 15px;
  margin-bottom: 15px;
  background-color: #48735d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button[type="submit"]:hover {
  background-color: #7d9b8b;
}

.flexRow {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 30px;
}

.flexRow input[type="number"] {
  width: calc(50% - 10px);
}

@media (max-width: 700px) {
  .flexRow {
    flex-direction: column;
  }

  .flexRow input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
  }
}
