.container {
  margin: 50px auto 150px;
  text-align: center;
}

.Heading {
  font-size: 35px;
  margin: 70px auto 50px;
  text-align: center;
  font-weight: 300;
  padding: 20px;
}

.Label,
.Input,
.Button,
.GoogleButton {
  display: block;
  width: 100%;
}

.Label {
  margin: 0 0 0 5px;
  text-align: left;
}

.Input {
  margin: 8px 0 30px;
}

.Button2 {
  background-color: #fff;
  opacity: 70%;
  border-color: #000;
  border-width: 0.05px;
  border-radius: 8px;
  color: #48735d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  width: 40%;
  padding: 15px 22px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #48735d;
  margin: 20px;
}

.HorizontalRule {
  margin: 50px 0;
}

.login {
  margin: 5px 0 40px;
  text-align: center;
  font-size: 15px;
}

.login span {
  text-align: center;
  font-weight: 600;
  margin: 0 0 0 5px;
}

.button2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  opacity: 70%;
  border-color: #000;
  border-width: 0.05px;
  border-radius: 8px;
  color: #48735d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  width: auto;
  padding: 10px 20px;
}

.button2:hover {
  opacity: 100%;
}

.ButtonWrapper {
  position: relative;
  display: inline;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.ErrorMsg {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}
