.mainPageContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #fff;
  padding: 20px;
}

.headerTitle {
  font-size: 24px;
  font-weight: bold;
}

.postListTitle {
  font-size: 20px;
  text-align: center;
}

.count {
  border: 1px solid #ccc;
  border-radius: 0px;
  font-size: 8px;
  padding: 5px;
  text-align: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
}

.categoryContainer {
  width: 100%;
  max-width: 200px;
  position: fixed;
  top: 215px;
  left: 0;
  z-index: 1;
  transition: transform 0s ease;
  transform: translateX(-100%);
  display: none;
}

.categoryContainer.visible {
  transform: translateX(0);
  display: block;
}

.toggleCategory {
  cursor: pointer;
  position: fixed;
  top: 235px;
  left: 10px;
  z-index: 1000;
  display: block;
  opacity: 80%;
}

.toggleCategory .icon {
  font-size: 30px;
}

.contentContainer {
  overflow-y: auto;
}

@media screen and (min-width: 980px) {
  .categoryContainer {
    transform: translateX(0);
    display: block;
  }

  .contentContainer {
    padding-top: 20px;
  }
}

.hidden {
  display: none;
}

.category {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  padding: 20px;
  background-color: #fff;
  z-index: 999;
}

.categoryList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryItem {
  margin-bottom: 10px;
}

.categoryItem:last-child {
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content {
  flex: 1;
}
