.all {
  display: inline-flex;
  align-items: center;
}

.img {
  width: 100px;
}

.title {
  margin: 0 0 5px;
  overflow: hidden;
  font-size: 17px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  margin: 7px 0 5px;
  padding: 0 0 10px 0;
  overflow: hidden;
  font-size: 17px;
  font-weight: 500;
}

.price {
  display: -webkit-box;
  margin: 0 0 20px;
  overflow: hidden;
  font-size: 17px;
  font-weight: 900;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
