.nav {
  position: relative;
  z-index: 999;
  padding: 10px 0px 30px 0px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  overflow-x: auto;
  overflow-y: hidden;
}

.container_top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.nav_top {
  display: flex;
  padding: 0;
  margin: 0px 10px 40px auto;
  list-style: none;
  font-size: 15px;
  color: #b3b3b3;
}

ul.nav_top > li:not(:last-child) {
  margin-right: 10px;
}

.logo {
  width: 180px;
  height: 100px;
  border-radius: 54px;
  margin-right: 100px;
}

.search {
  margin-left: -30px;
}

ul.nav_bottom {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 80px;
  list-style: none;
  font-size: 18px;
  white-space: nowrap;
}

.nav_bottom li {
  position: relative;
}

ul.nav_bottom > li:not(:last-child) {
  margin-right: 20px;
}

.user {
  z-index: 999;
  margin: 0px 0px 0px 10px;
}

.font {
  color: #b3b3b3;
}

.cartItemsCount {
  position: absolute;
  top: -10%;
  left: calc(100% + 5px);
  transform: translate(-50%, -50%);
  background-color: #e35252;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
