.emptyList {
  margin: 40px auto;
}

.questionItem {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.questionItem:not(:last-child) {
  margin-bottom: 11px;
}

.questionItem .info {
  display: inline-flex;
  align-items: center;
}

.questionItem .state {
  background-color: #b3b3b3;
  padding: 8px 25px;
  border-radius: 30px;
  color: #fff;
}

.questionItem .title {
  font-size: 14px;
  font-weight: 500;
  color: #494949;
  margin-left: 50px;
  cursor: pointer;
}

.questionItem .title a {
  font-family: var(--notosans);
}

.questionItem .title .count {
  margin-left: 5px;
  color: #fe92ab;
}

.questionItem .writer {
  flex: none;
  margin-left: auto;
}

.questionItem .date {
  margin-left: 50px;
  font-size: 12px;
  color: #c4c4c4;
}

/* 판매자 답변 */
.answerItem {
  padding: 10px 30px;
}

.answerInfo {
  display: flex; /* 답변 정보를 한 줄로 정렬하기 위해 flex 사용 */
  align-items: center; /* 세로 가운데 정렬 */
  margin-top: 10px;
}

.answertitle {
  font-size: 20px;
  font-weight: 500;
  color: #878787;
}

.answers {
  margin: 30px;
}

.answerItem {
  padding-top: 30px;
  padding-bottom: 30px;
}

.answerContainer {
  margin: 10px auto;
}
