.container {
  max-width: 800px;
  margin: 50px auto 150px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 300;
}

.addressList {
  max-width: 800px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ordered_porductList {
  max-width: 800px;
  margin: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  margin-top: 60px;
}

.buttonContainer {
  text-align: right;
  margin-top: 50px; /* 버튼과 다른 요소들 간의 간격을 위해 */
}

.paybutton {
}
